@model ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ValueObjects.PaginacionViewModel<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.Usuario>


@foreach (var usuario in Model.Items)
{
    <div class="col-md-2 col-3 p-3 tarjetaUser text-center justify-content-center">

        <div class="imagen-container">
            @if (usuario.FotoFile != null)
            {
                <img src="@Url.Action("DescargarImagen", "Usuarios", new { fileId = usuario.FotoFile.Id })"
                     alt="Foto de @usuario.NombreCompleto.PrimerNombre"
                     class="img-fluid mb-1 imagenUser" />
            }
            else
            {
                <img src="~/assets/foto-perfil-generica.jpg"
                     alt="Foto por defecto"
                     class="img-fluid mb-1 imagenUser"
                     style="display: block;" />  <!-- Muestra inmediatamente la imagen genérica -->
            }
        </div>

        <p><strong>Nombre: </strong>@usuario.NombreCompleto.PrimerNombre @usuario.NombreCompleto.PrimerApellido</p>
        <p><strong>Cedula de identidad: </strong>@usuario.CI</p>
        <p><strong>Estado: </strong>@usuario.Estado</p>
        <div class="justify-content-center row">
            <a href="https://wa.me/@("598" + usuario.Celular)" target="_blank" class="col-3 m-1 wppLink">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgb(28, 89, 50)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                    <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                </svg>
            </a>
            <button class="btn btn-primary ver-detalles col-6" data-id="@usuario.Id">
                Ver detalles de usuario
            </button>
        </div>

    </div>
}
