@model ClinicaEspacioAbiertoFrontEnd.Models.Entidades.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de usuario</h1>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <!-- Mostrar la imagen del usuario, o una imagen por defecto si no se proporciona -->
                @if (Model.FotoFile != null)
                {
                    <img src="@Url.Action("DescargarImagen", "Usuarios", new { fileId = Model.FotoFile.Id })"
                         alt="Foto de @Model.NombreCompleto.PrimerNombre"
                         class="rounded-circle mt-5" width="150px"
                         loading="lazy" />
                }
                else
                {
                    <img src="~/assets/foto-perfil-generica.jpg"
                         alt="Foto por defecto"
                         class="rounded-circle mt-5" width="150px"
                         style="display: block;" />  <!-- Muestra inmediatamente la imagen genérica -->
                }
                <span class="font-weight-bold usuarioName">@Model.NombreCompleto.PrimerNombre @Model.NombreCompleto.PrimerApellido</span>
                <span class="text-black-50">@Model.Telefono</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil de usuario</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Nombre</label>
                        <input type="text" class="form-control" placeholder="Primer nombre" value="@Model.NombreCompleto.PrimerNombre" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Segundo nombre</label>
                        <input type="text" class="form-control" placeholder="Segundo nombre" value="@Model.NombreCompleto.SegundoNombre" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Apellido</label>
                        <input type="text" class="form-control" value="@Model.NombreCompleto.PrimerApellido" placeholder="Primer apellido" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Segundo apellido</label>
                        <input type="text" class="form-control" value="@Model.NombreCompleto.SegundoApellido" placeholder="Segundo apellido" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Sexo</label>
                        <input type="text" class="form-control" value="@Model.Sexo" placeholder="Sexo" />
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Número de teléfono</label>
                        <input type="text" class="form-control" placeholder="Número de teléfono" value="@Model.Telefono" />
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Dirección</label>
                        <input type="text" class="form-control" placeholder="Dirección" value="@Model.Direccion.Calle" />
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Ciudad</label>
                        <input type="text" class="form-control" placeholder="Ciudad" value="@Model.Direccion.Ciudad" />
                    </div>
                    
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Estado</label>
                        <input type="text" class="form-control" placeholder="Estado de usuario" value="@Model.Estado" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Fecha de nacimiento</label>
                        <input type="text" class="form-control" placeholder="Fecha de nacimiento" value="@Model.FechaNacimiento.ToString("dd/MM/yyyy")" />
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Fecha alta</label>
                        <input type="text" class="form-control" placeholder="Fecha de alta" value="@Model.FechaAlta.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h3>Representante</h3>
                        <label class="labels">Nombre representante</label>
                        <input type="text" class="form-control" placeholder="Nombre representante" value="@Model.Representante.NombreCompleto" />
                        <label class="labels">Cedula representante</label>
                        <input type="text" class="form-control" placeholder="Cedula representante" value="@Model.Representante.CIRepresentante" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Tabla de consultas -->
        <div class="row mt-5">
            <div class="col-md-12">
                <h3>Consultas del Usuario</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Fecha de Consulta</th>
                            <th>Hora de Consulta</th>
                            <th>Técnico</th>
                            <th>Pago</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Sesiones != null && Model.Sesiones.Any())
                        {
                            @foreach (var consulta in Model.Sesiones)
                            {
                                <tr>
                                    <td>@consulta.Fecha_Consulta</td>
                                    <td>@consulta.Hora_inicio</td>
                                    <td>@consulta.Nombre_empleado</td>
                                    <td>@consulta.Pago</td>
                                    <td>
                                        @consulta.Comentarios_Tecnico_Sesion
                                    </td>

                                        <td>
                                            <a href="javascript:void(0);"
                                               onclick="abrirModalConsulta(this)"
                                               data-id="@consulta.ID"
                                               data-nombre="@consulta.NombreUsuario"
                                               data-fecha="@consulta.Fecha_Consulta"
                                               class="btn btn-primary">Agregar comentario</a>
                                        </td>
                                    
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No hay consultas disponibles.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="modalContainer"></div>
            </div>
        </div>
    </div>
    </div>
</div>
<script>
    function abrirModalConsulta(element) {
        // Obtén los datos del atributo de HTML
        var idSesion = $(element).data("id");
        var nombreUsuario = $(element).data("nombre");
        var fechaConsulta = $(element).data("fecha");

        // Crea un objeto de consulta
        var consulta = {
            ID: idSesion,
            NombreUsuario: nombreUsuario,
            Fecha_Consulta: fechaConsulta
            // Puedes agregar más campos si es necesario
        };

        // Llama a tu método AJAX para cargar el contenido del modal
        $.ajax({
            url: '@Url.Action("AgregarComentarioAConsulta", "Consultas")',
            type: 'GET',
            data: { idSesion: idSesion }, // Envía solo el ID a tu controlador
            success: function (result) {
                $('#modalContainer').html(result);
                $('#comentarioModal').modal('show');
            },
            error: function (xhr, status, error) {
                toastr.error('Error al cargar el comentario.', 'Error');
            }
        });
    }
    function enviarComentario() {
        var idSesion = $('#idSesion').val();
        var comentario = $('#comentarioNuevo').val(); // Cambiado a 'comentarioNuevo'

        $.ajax({
            url: '@Url.Action("AgregarComentarioAConsulta", "Consultas")',
            type: 'POST',
            data: { idSesion: idSesion, comentarioNuevo: comentario }, // Asegúrate de que el nombre del campo coincida con el nombre del parámetro en el controlador
            success: function (result) {
                // Mostrar notificación de éxito con Toastr
                toastr.success('Comentario realizado correctamente.', 'Éxito');

                // Esperar un momento para mostrar el push-up y luego redirigir
                setTimeout(function () {
                    window.location.href = '@Url.Action("Details", "Usuarios", new { id = Model.Id })';
                }, 2000); // Espera de 2 segundos antes de la redirección
            },
            error: function (xhr, status, error) {
                toastr.error('Ocurrió un error al realizar el comentario.', 'Error');
            }
        });
    }
</script>
<style>
    .modal-header {
        background-color: var(--colorTituloModal);
        color: white;
    }

    .usuarioName {
        color:black;
    }
</style>