@model IEnumerable<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ConsultorioModel>
<link rel="stylesheet" href="~/css/listaConsultas.css">
@using System

@{


    var primerConsultaConFecha = Model
           .SelectMany(c => c.Horarios.Values.SelectMany(h => h))
           .FirstOrDefault(c => c.Fecha_Consulta != null && (c.Dia != null || c.Dia != ""));

    var fechaInicial = primerConsultaConFecha?.Fecha_Consulta ?? DateTime.Now;
    string Dia = "";
    var fechaFormateada = fechaInicial.ToString("yyyy-MM-dd"); // Formato ISO para JavaScript
    if (primerConsultaConFecha != null)
    {
        if(primerConsultaConFecha.Dia != null && primerConsultaConFecha.Dia != "")
        {
            Dia = primerConsultaConFecha.Dia;
        }
        
    }


}



<div id="DivtablaxDia" class="text-center">
    <div class="titulo">
        <h3>CONSULTAS DEL DIA</h3>

        <div class="row justify-content-center">
            <button id="flecha-izquierda" class="btn col-1" >
                <i class="icon icon-tabler icon-tabler-arrow-big-left-lines"></i> <!-- Icono de la flecha izquierda -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-left-lines" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgb(0, 0, 0)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 15v3.586a1 1 0 0 1 -1.707 .707l-6.586 -6.586a1 1 0 0 1 0 -1.414l6.586 -6.586a1 1 0 0 1 1.707 .707v3.586h3v6h-3z" />
                    <path d="M21 15v-6" />
                    <path d="M18 15v-6" />
                </svg>
            </button>
            <p class="col-1">
                Consultas del día:<br /> <span id="fecha-consulta" data-fecha-inicial="@fechaFormateada">@fechaFormateada</span><br />@Dia
            </p>
            <button id="flecha-derecha" class="btn col-1">
                <i class="icon icon-tabler icon-tabler-arrow-big-right-lines"></i> <!-- Icono de la flecha derecha -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-right-lines" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="rgb(0, 0, 0)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 9v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-3v-6h3z" />
                    <path d="M3 9v6" />
                    <path d="M6 9v6" />
                </svg>
            </button>
        </div>
        <!-- Botones para navegar entre días -->
        
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col">Hora</th>
                @foreach (var consultorio in Model)
                {
                    <th class="col justify-content-center align-items-center">@consultorio.NroConsultorio</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                var horaActual = DateTime.Now.ToString("HH:mm:ss");
                foreach (var hora in Model.First().Horarios.Keys.OrderBy(h => h))
                {
                    <tr>
                        <td class="text-rgb(0, 0, 0) hora-cell">@hora</td>
                        @foreach (var consultorio in Model)
                        {
                            var horaConsulta = hora; // Hora en formato HH:mm:ss
                            var esPasado = string.Compare(horaActual, horaConsulta) > 0;
                            var consultas = consultorio.Horarios.ContainsKey(horaConsulta) ? consultorio.Horarios[horaConsulta] : new List<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ConsultasModel>();

                            if (!consultas.Any()) // Si no hay consultas
                            {
                                <td class="celda-vacia" onclick="agregarConsulta(this)" data-fecha="@fechaFormateada" data-hora="@hora" data-consultorio="@consultorio.NroConsultorio" data-dia ="@Dia">
                                    <button type="button" class="btn btn-primary">
                                        +
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td class="@(esPasado ? "pasado" : "col")">
                                    <ul>
                                        @foreach (var consulta in consultas)
                                        {
                                            <li style="position: relative;" data-sucursal="@consulta.Sucursal">
                                                <a href="#" onclick="showModal('@consulta.ID', '@consulta.NombreUsuario', '@consulta.Fecha_Consulta?.ToString("yyyy-MM-dd")', '@consulta.Nombre_empleado','@consulta.Pago','@Dia'); return false;">
                                                    Usuario: @consulta.NombreUsuario <br>
                                                </a>
                                                <div class="menuHover mt-2">
                                                    <p><strong>Usuario:</strong>@consulta.NombreUsuario</p>
                                                    <p><strong>Medico: </strong>@consulta.Nombre_empleado</p>
                                                    <p><strong>Hora de inicio: </strong>@consulta.Hora_inicio</p>
                                                    <p><strong>Hora de fin: </strong>@consulta.Hora_fin</p>
                                                    <p><strong>Consultorio: </strong>@consulta.n_consultorio</p>
                                                    <p><strong>Convenio : </strong>@consulta.Convenio</p>
                                                    <p><strong>Sucursal: </strong>@consulta.Sucursal</p>
                                                    @if(consulta.Pago == "")
                                                    {
                                                        <p><strong>Pago: </strong>Pendiente</p>
                                                    }
                                                    else
                                                    {
                                                        <p><strong>Pago: </strong>@consulta.Pago</p>
                                                    }
                                                   
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </td>
                            }
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="100%">No existen consultas para el día de hoy</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/listaPorDia.js"></script>