@model IEnumerable<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ConsultasModel>
<style>
    a{
        color:black;
    }
</style>
<div>
    <div class="panel-heading">
        <h3>Consultas del día</h3>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>Consultorio</th>
            <th>Usuario</th>
            <th>Asistencia usuario</th>
            <th>Asistencia tecnico</th>
            <th>Hora</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var consultas in Model)
            {
                <tr>
                    <td>@consultas.n_consultorio</td>
                    <td>@consultas.NombreUsuario</td>
                    <td>@consultas.Asistencia_usuario_recepcion</td>
                    @if(consultas.Asistencia_tecnicos_recepcion == null || consultas.Asistencia_tecnicos_recepcion == "")
                    {
                        <td>

                            <a href="#" data-id="@consultas.ID">
                                Pasar asistencia
                            </a>
                        </td>
                    }
                    else
                    {
                        <td>
                            @consultas.Asistencia_tecnicos_recepcion
                        </td>
                    }

                    <td>@consultas.Hora_inicio</td>
                    <td>@consultas.Fecha_Consulta.Value.Date</td>
                </tr>
            }

    </tbody>
</table>

</div>