@model ClinicaEspacioAbiertoFrontEnd.Models.Entidades.ValueObjects.ConsultasVistaUnica
@{
    ViewData["Title"] = "ConsultasActualesYProximas";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        h2 {
            margin-top: 20px;
        }

        table {
            width: 100%;
            max-width: 800px;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Consultas en Ejecución</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre del tecnico</th>
                    <th>Area</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th>Consultorio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consulta in Model.ConsultasActuales)
                {
                    <tr>
                        <td>@consulta.Nombre_empleado</td>
                        <td>@consulta.Servicio</td>
                        <td>@consulta.Hora_inicio</td>
                        <td>@consulta.Hora_fin</td>
                        <td>@consulta.n_consultorio</td>
                    </tr>
                }
            </tbody>
        </table>

        <h2>Próximas Consultas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre del tecnico</th>
                    <th>Area</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th>Consultorio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var consulta in Model.ConsultasProximas)
                {
                    <tr>
                        <td>@consulta.Nombre_empleado</td>
                        <td>@consulta.Servicio</td>
                        <td>@consulta.Hora_inicio</td>
                        <td>@consulta.Hora_fin</td>
                        <td>@consulta.n_consultorio</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
