@model IEnumerable<ClinicaEspacioAbiertoFrontEnd.Models.Entidades.TareasModel>
<link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/EstilosTareasPendientes/TareasPartialView.css" />


<section class="d-flex justify-content-center align-items-center">
    <div id="modalTareasPendientes" class="card-body row justify-content-around">
        <div class="table-responsive board">
            @if (Model != null && Model.Count() > 0)
            {
                <table class="table table-hover tableTareas align-middle">
                    <thead>
                        <tr>
                            <th><strong>Tarea</strong></th>
                            <th><strong>Descripción</strong></th>
                            <th><strong>Fin</strong></th>
                            <th><strong>Estado</strong></th>
                            <th><strong>Acciones</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tarea in Model)
                        {
                            <tr id="tarea-@tarea.ID_Tarea" draggable="true" data-idtarea="@tarea.ID_Tarea">
                                <td>@tarea.Titulo</td>
                                <td>@tarea.Descripcion</td>

                                <td >
                                        <span class="badge rounded-pill" style="background-color: var(--colorAzul); font-size:14px">
                                            @tarea.Fecha_Fin.ToString("dd/MM/yyyy")
                                        </span>
                                </td>
                                
                                <td class="text-center">
                                    <span class="badge rounded-pill bg-warning text-dark" style="font-size:14px">@tarea.Estado</span>
                                </td>
                                <td class="text-center">

                                    <button type="button" class="btn btn-light text-danger" onclick="EliminarTarea('@Html.Raw(tarea.ID_Tarea.ToString())')">
                                        <i class="bi bi-trash"></i>
                                    </button>

                                    <button type="button" class="btn btn-light text-success" onclick="FinalizarTarea('@Html.Raw(tarea.ID_Tarea.ToString())')">
                                        <i class="bi bi-check-circle"></i>
                                    </button>




                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No hay tareas pendientes</p>
            }
        </div>
    </div>
</section>


<!-- Modal para agregar tareas -->

    <div class="modal" id="modalAgregarTarea" tabindex="-1" role="dialog" aria-labelledby="modalAgregarTareaLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarTareaLabel">Agregar Nueva Tarea</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formAgregarTarea" asp-action="AgregarTarea" asp-controller="Tareas">
                        <div class="form-group">
                            <label for="titulo">Título</label>
                            <input type="text" class="form-control" id="titulo" name="Titulo" placeholder="Ingrese el título de la tarea" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="Descripcion" rows="3" placeholder="Ingrese una descripción"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fechaInicio">Fecha de Inicio</label>
                            <input type="date" class="form-control" id="fechaInicio" name="Fecha_Inicio" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaFin">Fecha de Fin</label>
                            <input type="date" class="form-control" id="fechaFin" name="Fecha_Fin" required>
                        </div>
                        <label>Asignar tarea a:</label><br>
                        <input type="radio" id="paraMi" name="asignarTarea" value="mi" checked>
                        <label for="paraMi">Para mí</label><br>
                        <input type="radio" id="asignarOtroEmpleado" name="asignarTarea" value="otro">
                        <label for="asignarOtroEmpleado">Para otro empleado</label>

                        <!-- Contenedor para buscar empleados -->
                        <div id="buscarEmpleadoContainer" style="display:none;">
                            <label for="searchEmpleado">Buscar empleado:</label>
                            <input type="text" id="searchEmpleado" name="searchEmpleado" placeholder="Escribe el nombre del empleado">
                            <ul id="listaEmpleados" class="list-group"></ul>
                        </div>
                        <input type="hidden" id="empleadoSeleccionadoId" name="ID_EmpleadoSolicitado">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary mt-1">Guardar Tarea</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                        
                    </form>
                </div>
               
            </div>
        </div>
    </div>
    



<!-- Loader -->



<script>
    function EliminarTarea(id) {
        $('#loaderOverlay').css('visibility', 'visible');
        console.log('Enviando solicitud para eliminar tarea con ID:', id); // Depuración

        $.ajax({
            type: 'POST',
            url: '/Tareas/EliminarTarea', // Reemplaza con la URL de tu endpoint
            data: { id: id }, // Enviar el ID de la tarea
            success: function (response) {
                $('#loaderOverlay').css('visibility', 'hidden');
                if (response.success) {
                    console.log('Tarea eliminada exitosamente:', id); // Confirmación en consola
                    $('#tarea-' + id).fadeOut();
                    mostrarPopup('Tarea eliminada correctamente', true); // Mensaje de éxito
                } else {
                    console.error('Error: No se pudo eliminar la tarea', response); // Error en consola
                    mostrarPopup('No se pudo eliminar la tarea', false); // Mensaje de error
                }
            },
            error: function (xhr, status, error) {
                $('#loaderOverlay').css('visibility', 'hidden');
                console.error('Error al eliminar la tarea:', error); // Error en consola
                mostrarPopup('Ocurrió un error al eliminar la tarea', false); // Mensaje de error
            }
        });
    }
    function FinalizarTarea(id) {
        $('#loaderOverlay').css('visibility', 'visible');
        console.log('Enviando solicitud para eliminar tarea con ID:', id); // Depuración

        $.ajax({
            type: 'POST',
            url: '/Tareas/FinalizarTarea', // Reemplaza con la URL de tu endpoint
            data: { id: id }, // Enviar el ID de la tarea
            success: function (response) {
                $('#loaderOverlay').css('visibility', 'hidden');
                if (response.success) {
                    console.log('Tarea eliminada exitosamente:', id); // Confirmación en consola
                    $('#tarea-' + id).fadeOut();
                    mostrarPopup('Tarea eliminada correctamente', true); // Mensaje de éxito
                } else {
                    console.error('Error: No se pudo eliminar la tarea', response); // Error en consola
                    mostrarPopup('No se pudo eliminar la tarea', false); // Mensaje de error
                }
            },
            error: function (xhr, status, error) {
                $('#loaderOverlay').css('visibility', 'hidden');
                console.error('Error al eliminar la tarea:', error); // Error en consola
                mostrarPopup('Ocurrió un error al eliminar la tarea', false); // Mensaje de error
            }
        });
    }

    $(document).ready(function () {
        // Mostrar el campo de búsqueda al hacer clic en "Para otro empleado"
        $('#asignarOtroEmpleado').on('click', function () {
            $('#buscarEmpleadoContainer').show(); // Mostrar el campo de búsqueda de empleados
        });

        // Ocultar el campo de búsqueda si seleccionan "Para mí"
        $('#paraMi').on('click', function () {
            $('#buscarEmpleadoContainer').hide(); // Ocultar el campo de búsqueda
            $('#empleadoSeleccionadoId').val(''); // Limpiar el campo oculto del ID del empleado
        });

        // Asegurarse de que el campo de búsqueda esté oculto inicialmente si se selecciona "Para mí"
        if ($('#paraMi').is(':checked')) {
            $('#buscarEmpleadoContainer').hide(); // Ocultar por defecto
        }

        // Función para buscar empleados mientras se escribe
        $('#searchEmpleado').on('keyup', function () {
            var query = $(this).val().toLowerCase(); // Obtener el texto del input

            if (query.length > 2) { // Hacer la búsqueda solo si se escriben más de 2 caracteres
                $.ajax({
                    type: 'GET',
                    url: '/Tareas/BuscarEmpleados', // Cambiar por la ruta correcta
                    timeout: 10000,
                    data: { query: query },
                    success: function (data) {
                        if (data && Array.isArray(data)) {
                            $('#listaEmpleados').empty(); // Limpiar la lista anterior
                            data.forEach(function (empleado) {
                                console.log('Empleado ID:', empleado.ID); // Verificar el ID en la consola
                                $('#listaEmpleados').append(
                                    '<li class="list-group-item empleado-item" data-id="' + empleado.id + '">' +
                                    empleado.primerNombre + ' ' + empleado.primerApellido + '</li>'
                                );
                            });
                        } else {
                            console.error('Formato de datos incorrecto:', data);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error en la búsqueda de empleados: ', error);
                    }
                });
            } else {
                $('#listaEmpleados').empty(); // Limpiar la lista si el input está vacío o tiene pocos caracteres
            }
        });

        $('#listaEmpleados').on('click', '.empleado-item', function () {
            var empleadoId = $(this).data('id');
            var empleadoNombre = $(this).text();

            // Verificar que el ID se esté obteniendo correctamente
            console.log('Empleado seleccionado ID:', empleadoId); // Verificar ID aquí

            // Colocar el nombre del empleado en el input de búsqueda
            $('#searchEmpleado').val(empleadoNombre);

            // Almacenar el ID del empleado en el campo oculto
            $('#empleadoSeleccionadoId').val(empleadoId);

            // Mostrar el valor almacenado en el campo oculto para depuración
            console.log('ID del empleado almacenado:', $('#empleadoSeleccionadoId').val());

            // Ocultar la lista de empleados después de la selección
            $('#listaEmpleados').empty();
        });
        
        // Envío del formulario de agregar tarea
        $('#formAgregarTarea').submit(function (e) {
            e.preventDefault(); // Previene el comportamiento por defecto del formulario

            // Mostrar el loader
            $('#loaderOverlay').css('visibility', 'visible');

            var formData = $(this).serialize(); // Serializa los datos del formulario

            // Log para verificar que el ID se esté incluyendo en el formulario
            console.log('Datos del formulario antes de enviar:', formData); // Ver datos aquí

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                success: function (response) {
                    // Ocultar el loader
                    $('#loaderOverlay').css('visibility', 'hidden');                       
                    cerrarModal();
                    mostrarPopup('Tarea agregada correctamente', true); // Mensaje de éxito
                },
                error: function (xhr, status, error) {
                    // Ocultar el loader
                    $('#loaderOverlay').css('visibility', 'hidden');
                    mostrarPopup('No se pudo agregar la tarea', false); // Mensaje de error
                    
                }
            });
        });

        
        const modalBackdrop = document.querySelector('.modal-Backdrop');

        // Función para mostrar el modal
        function showModal() {
            modalBackdrop.style.display = 'flex'; // Muestra el modal-backdrop y el modal
        }

        // Función para ocultar el modal
        function hideModal() {
            modalBackdrop.style.display = 'none'; // Oculta el modal-backdrop y el modal
        }

        function cerrarModal() {
            var modal = document.querySelector(".modal");
            if (modal) {
                modal.style.display = "none"; // Esto oculta el modal visualmente
                $('.modal-backdrop').remove(); // Esto remueve el fondo gris si quedó
            }
        }
    });
</script>

